ion-item.input{
    --background: #5261ff91;
    --color: #313131;
  
    --border-color: #000000;
    --border-width: 2px;
  
    --border-radius: 10px;
  
    --ripple-color: purple;
  
    --detail-icon-color: white;
    --detail-icon-opacity: 1;
    --detail-icon-font-size: 20px;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }

  ion-label.radioDesc{
    font-size: small;
    color: #464646;
  }
  
  ion-label#CerbungTitle{
    font-weight: bold;
  }

  ion-button#btnSubmitCerbung{
    --color: #000000;
    --background: #e4c203;
  }

  ion-img{
    height: 500px;
    width: 500px;
  }

  ion-chip{
    color:#000000;
    --background: #14446b;
  }
  
