<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cerbung
    </ion-title>
    <ion-item *ngIf="accountservice.sedangLogin == true" slot="end">
      Halo, {{accountservice.currentLoginName}}!&nbsp;<ion-avatar><img alt="person"
          src="{{accountservice.currentImage}}" /></ion-avatar>
    </ion-item>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="content">
    <ion-segment [(ngModel)]="genre">
      <ion-segment-button value="Semua">
        <ion-label>Semua</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Aksi">
        <ion-label>Aksi</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Fantasy">
        <ion-label>Fantasy</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Romance">
        <ion-label>Romance</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="genre == 'Semua'">
      <div *ngFor="let cerbung of cerbungs; let i=index">
        <ion-card>
          <ion-img src="{{cerbung.gambar}}" />
          <ion-card-header>
            <ion-card-title>{{cerbung.nama}}</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"/><ion-label>&nbsp;{{cerbung.pembuat}}</ion-label></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>{{cerbung.deskripsi}}</ion-label><br>
            <ion-item lines="none">
              <ion-chip id="mainLike" color="primary">
                <ion-icon name="thumbs-up-outline" />
                <ion-label>&nbsp;{{cerbung.disukai}}</ion-label>
              </ion-chip>
              <ion-badge slot="end" [color]="cerbung.genre == 'Aksi' ? 'dark' : 
              cerbung.genre == 'Fantasy' ? 'warning' :
              cerbung.genre == 'Romance' ? 'danger' : 'primary'">
                <ion-label>{{cerbung.genre}}</ion-label>
              </ion-badge>
            </ion-item>
          </ion-card-content>
          <ion-button class="btnCard" routerLink="./bacacerbung/{{i}}">Baca</ion-button>
        </ion-card>
      </div>
    </div>

    <div *ngIf="genre != 'Semua'">
      <div *ngFor="let cerbung of cerbungs; let i=index">
        <div *ngIf="cerbung.genre == genre">
          <ion-card>
            <ion-img src="{{cerbung.gambar}}" />
          <ion-card-header>
            <ion-card-title>{{cerbung.nama}}</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"/><ion-label>&nbsp;{{cerbung.pembuat}}</ion-label></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>{{cerbung.deskripsi}}</ion-label><br>
            <ion-item lines="none">
              <ion-chip id="mainLike" color="primary">
                <ion-icon name="thumbs-up-outline" />
                <ion-label>&nbsp;{{cerbung.disukai}}</ion-label>
              </ion-chip>
              <ion-badge slot="end" [color]="cerbung.genre == 'Aksi' ? 'dark' : 
              cerbung.genre == 'Fantasy' ? 'warning' :
              cerbung.genre == 'Romance' ? 'danger' : 'primary'">
                <ion-label>{{cerbung.genre}}</ion-label>
              </ion-badge>
            </ion-item>
          </ion-card-content>
          <ion-button class="btnCard" routerLink="./bacacerbung/{{i}}">Baca</ion-button>
          </ion-card>
        </div>
      </div>
    </div>

    
  </div>
</ion-content>